<!DOCTYPE HTML>
<html>
	<head>
		<title>WeaponDetector by SPALMALO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/general.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a class="logo">SPALMALO</a>
					<nav id="nav">
						<a href="/">HOME</a>
						<a href="#demo">DEMO</a>
						<a href="#credits">CREDITS</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>WEAPON DETECTOR</h1>
				<p>SAFEY IS OUR MISSION.</p>
			</section>

			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Magna tempus sed amet<br /> aliquam veroeros</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Interdum lorem pulvinar<br /> adipiscing vitae</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Libero purus magna sapien<br /> sed ullamcorper</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- demo -->
			<section id="demo" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>DEMO</h2>
						<p>DEMO VERSION OF OUR PROJECT</p>
					</header>
					<div class="flex flex-4">
						<div class="inner">
							<video id="video" width="640" height="480" autoplay></video>
							<canvas id="canvas" width="640" height="480"></canvas>
						</div>
					</div>
				</div>
			</section>

		
		<!--TECHNOLOGY-->

			<section id="three" class="wrapper">
				<div class="spotlight">
					<div class="image flush"><img src="/static/images/pic01.jpg" alt="" /></div>
					<div class="inner">
						<h3>Viverra Hendrerit</h3>
						<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
					</div>
				</div>
				<div class="spotlight alt">
					<div class="image flush"><img src="/static/images/pic01.jpg" alt="" /></div>
					<div  class="inner">
						<h3>Curabitur Eget</h3>
						<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
					</div>
				</div>
				<div class="spotlight">
					<div class="image flush"><img src="/static/images/pic01.jpg" alt="" /></div>
					<div class="inner">
						<h3>Morbi Eleifend</h3>
						<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
					</div>
				</div>
			</section>

		</div>
	</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
						<div class="copyright">
							&copy; NOETIC INC 
						</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"></script>
			<script src="/static/js/main.js"></script>
	</body>
</html>